<h1>Cat Viewer</h1>

<ul>
    <li>Name: <%= @cat.name %></li>
    <li>Birth date: <%= @cat.birth_date %></li>
    <li>Color: <%= @cat.color %></li>
    <li>Sex: <%= @cat.sex %></li>
    <li>Age: <%= @cat.age %></li>
    <li>Description: <%= @cat.description %></li>
    <a href="<%= cats_url %>">View All Cats</a>
</ul>

